body {
  width: 100vw;
  height: 100vh;
  background-color: darkslategray;
  cursor: crosshair;
}

#menu {
  border: 15px outset indianred;
  background-color: indianred;
  width: 30%;
  margin: auto;
  /*margin-top: 20px;
  margin-left: 20px;*/
  font-family: "Signika", sans-serif;
  color: navy;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

@keyframes spin2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#button5,
#button6 {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;

  border-radius: 0.4em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

#button6 {
  display: none;
}

#finalscore {
  display: none;
}

#button5:hover,
#button6:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  cursor: crosshair;
}

@media all and (max-width: 30em) {
  a#button5 {
    display: block;
    margin: 0.4em auto;
  }
}
